{% extends 'base.html.twig' %}

{% block title %}Edit Business – Eco Meal{% endblock %}

{% block body %}

    <div class="eco-page-header">
        <h1>Edit Business</h1>
    </div>

    <div class="eco-form-card">
        <p class="eco-form-title">Update Details</p>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.city) }}
        {{ form_row(form.street) }}
        {{ form_row(form.houseNumber) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.businessType) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
        <div class="mt-3">
            <a href="{{ path('app_business') }}" class="eco-btn eco-btn-ghost">Cancel</a>
        </div>
    </div>

{% endblock %}
